.active  {
    position: relative;
    padding: 20px 0;
    background: transparent;
    transition: all .25s ease;
}
.active:before  {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    height: 8px;
    width: 51%;
    background: #2c3f99;
    transform: translate3d(-50%,-50%,0);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.menu-icon {
    display: none;
}
@media screen and (max-width: 991px) {
    .menu-icon {
        display: block;
        position: fixed;
        top: -15px;
        right: -40px;
        -webkit-transform: translate(-100%, 60%);
        -moz-transform: translate(-100%, 60%);
        transform: translate(-100%, 60%);
        font-size: 1.75rem;
        cursor: pointer;
        z-index: 100;
        width: 50px;
        height: 50px;
        background-color: rgb(239,239,239);
        line-height: 2.0;
        text-align: center;
        border-radius: 50%;
    }
    .NavbarItems {
        position: relative;
    }
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: #1888ff;
        border-radius: 0;
    }
}