html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Noto Sans Hebrew', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  outline: none !important;
}
*, ::after, ::before {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
}

button, input {
  overflow: visible;
}

a {
  color: inherit;
  text-decoration: none;
}
a, a:focus, a:active, a:link, img {
  outline: none;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  color: #232323;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 11px;
  line-height: 1.2;
  font-weight: 700;
  -webkit-transition: .5s;
  transition: .5s;
}
.h2, h2 {
  font-size: 2rem;
}
h6 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
}

p {
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: right;
  font-size: 14px;
  color: #222;
}
.pt { padding-top: 80px}
.pb {padding-bottom: 80px}
.pt3 { padding-top: 30px}
.pb2 {padding-bottom: 20px}
.pt2 {padding-top: 20px}
.pt120 {padding-top: 120px}
.pt-92 {padding-top: 92px !important}
.mb20 {margin-bottom: 20px }
.mt70 {margin-top: 70px}
.mt40 {margin-top: 40px}
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}
ul {
 font-size: 14px;
}
.error {
  color: #ff0000;
  position: absolute;
  top: 8px;
  right: -14px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .pt120,.pt {
    padding-top: 30px
  }
  .mt70 {
    margin-top: 40px;
  }
  .pb {
    padding-bottom: 30px;
  }
}

.background-white {background-color: white}
.background-grey {background-color:rgba(42, 64, 152, 0.16);}
.background-grey-light {background-color: rgba(42, 64, 152,0.34);}
.background-blue {background-color: #2226B5}
.background-red {background-color: #D81F30}
.background-blue-black {background-color:  #020b2e}
.background-image {
  min-height: 480px;
  height: auto;
  position: relative;
  overflow: hidden;
  width: 100%;}
.background-image:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #2A4098;
  top: 0;
  left: 0;
  opacity: 0.75;
  z-index: 1;
}

:hover:after {
  width: 100%;
  background: #4d78eb;
}

.col1 {
   flex: 0 0 auto;
   width: 100%;
       }
.col6, .col3, .col4, .col12 {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .col12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }}
@media (min-width: 768px) {
  .col6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }}
@media (min-width: 992px) {
  .col4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col3 {
    flex: 0 0 auto;
    width: 25%;
}
  .pr  {padding-right: 40px}
  .pl {padding-left: 40px}
}

.background-blue-black:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 152%;
  width: 62%;
  background-image: url(../public/footer-bgdt.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  right: 0;
  margin: auto;
  opacity: .2;
}

.background-image-routes {
  background-image: url(../public/hero_area_bg1.jpg);
}
.background-image-non {
  background-image: url(../public/start-up-loans-bg.jpg);
}
.background-image-loan {
  background-image: url(../public/loan_consolidation.png);
}

@media (max-width: 991px) {
 .background-blue-black:before {
    width: 100%;
  }
}

.team_line {
  background-color: #0031f5;
  position: absolute;
  opacity: 1;
  transition: .5s;
  z-index: 3;
}
.team_line_top, .team_line_bottom {
  width: 0;
  height: 2px;
  left: -60px;
  background: linear-gradient(to right, rgba(42,64,79, 0),#0031f5, rgba(42,64,79, 0));
}
.team_line_top {
  top: 0;
}
.team_line_bottom {
  bottom: 0;
}
.team_line_left {
  left: 0;
}
.team_line_left, .team_line_right {
  height: 0;
  width: 2px;
  top: -60px;
  background: linear-gradient(to top, rgba(42,64,79, 0), #0031f5, rgba(42,64,79, 0));
}
.team_line_right {
  right: 0;
}
.witr_team:hover .team_line_top, .witr_team:hover .team_line_bottom {
  width: calc(100% + 110px);
}
.witr_team:hover .team_line {
  opacity: 1;
}
.witr_team:hover .team_line_left, .witr_team:hover .team_line_right {
  height: calc(100% + 110px);
}

@keyframes witr_movelr_box90 {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(90px);
  }
}
@keyframes witr_movelr_box180 {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(180px);
  }
}
@keyframes witr_movelr_box360 {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(360px);
  }
}
@keyframes witr_movetb_box45 {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(45px);
  }
}
@keyframes witr_movetb_box90 {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(90px);
  }
}
@keyframes witr_movetb_box180 {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(180px);
  }
}
@keyframes witr_movetb_box360{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(360px);
  }
}

.anim-icon{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  -webkit-animation: service_hexagon 3s infinite linear;
  animation: service_hexagon 3s infinite linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.box-content:hover .anim-icon{
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.anim-icon .icon-1{
  position: absolute;
  left: -25px;
  top: 60px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation: zoom-fade-two 5s infinite linear;
  animation: zoom-fade-two 5s infinite linear;
  background:rgba(216,32,46, 0.8);
}
.anim-icon .icon-2{
  position: absolute;
  left: 10px;
  top: -20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation: zoom-fade-two 4s infinite linear;
  animation: zoom-fade-two 4s infinite linear;
  background:rgba(216,32,46, 0.8);
}
.anim-icon .icon-3{
  position: absolute;
  top: 15px;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: zoom-fade-two 3s infinite linear;
  animation: zoom-fade-two 3s infinite linear;
  background:rgba(216,32,46, 0.8);
}

@-moz-keyframes service_hexagon{0%{-moz-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}
@-o-keyframes service_hexagon{0%{-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes service_hexagon{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}
@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
.rotateme {
  -webkit-animation-name: rotateme;
  animation-name: rotateme;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.overflow { overflow: hidden;}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.swiper-wrap .swiper-wrapper {
  padding-bottom: 50px;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
.scroll-container .indicator {
  height: 100%;
  background: #8b0000;
}
.cursor-pointer {
  display: none;
}
@media screen and (min-width: 768px) {
  .cursor-pointer {
    cursor: pointer;
    display: block;
  }
  .scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 50px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #d81f30;
    color: #fff;
    z-index: 1;
    transition: .5s;
    cursor: pointer;
  }
  .scroll-to-top span {
    margin-top: 10px;
    animation: scrollTop 0.5s alternate ease infinite;
  }
  .scroll-to-top:hover {
    color: #d81f30;
    transition: .5s;
    background: #2A4098;
  }
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  direction: rtl;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  min-height: 1px;
  text-align: center;

}
.swiper-pagination-bullet {
  width: 30px !important;
  height: 6px !important;
  border-radius: 103px !important;
  background:#2A4098 !important;
  opacity: .2;
  transition: .5s;
}
.swiper-slide img {
  display: block;
  width: 100%;
 }
.mySwiper .swiper-slide img {
  filter: grayscale(100%);
}
.mySwiper .swiper-slide img:hover {
  filter: grayscale(0%);
  transition: .5s;
}
.mySwiper1 {
  padding-bottom: 80px !important;
  z-index: 0;
  position: relative;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  color:#1D2096!important;
}
.swiper-pagination-bullet,.swiper-pagination-bullet-active { background:#1D2096 !important;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -3px!important;
  cursor: pointer;
}
.cube {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 10px;
  height: 10px;
  border: solid 1px rgba(255, 255, 255, 0.6);
  border-radius : 10px;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}
.cube { border: solid 1px rgba(244, 244, 244, 0.6); /*z-index: 1*/}
.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25%;
  top: 14%;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 75%;
  top: 14%;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 50%;
  top: 5%;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 5%;
  top: 50%;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: auto;
  right: 5%;
  top: 70%;
}
.cube:nth-child(7) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 50%;
  bottom: 45%;
  top: auto;
}
.cube:nth-child(8) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 10%;
  bottom: 15%;
  top: auto;
}
.cube:nth-child(9) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: auto;
  right: 10%;
  bottom: 10%;
  top: auto;
}

.cube:nth-child(10) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: auto;
  right: 50%;
  bottom: 3%;
  top: auto;
}
@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
.shape{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.shape li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(221, 217, 249, 0.3);
  animation: animate 25s linear infinite;
  bottom: -150px;

}
.shape li:nth-child(1){
  left: 5%;
  width: 150px;
  height: 150px;
  animation-delay: 3s;
  animation-duration: 20s;
}
.shape li:nth-child(2){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 10s;
}
.shape li:nth-child(3){
  left: 10%;
  width: 30px;
  height: 30px;
  animation-delay: 2s;
  animation-duration: 20s;
}
.shape li:nth-child(4){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.shape li:nth-child(5){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 12s;
}
.shape li:nth-child(6){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.shape li:nth-child(7){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.shape li:nth-child(8){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 5s;
}
.shape li:nth-child(9){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 35s;
}
.shape li:nth-child(10){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 25s;
}
.shape li:nth-child(11){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 20s;
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-2000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #007efe;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@media (max-width: 991px) {
  .column-reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse !important;
  }
}
.flex {
  position: absolute;
  display: flex;
  width: 100%;
  right: 0;
  top: 67px;
  background: #fff;
  z-index: 2;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

form .invalid-message {
  display: none;
}
form.invalid .invalid-message {
  display: block;
  color: red;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  background: white;
  margin-bottom: 30px;
  color: #222222;
}

#tsparticles {
  position: absolute !important;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

